body{
	width: 100%;
	background-color: rgb(10,14,38);
	font-family: 'Lato', sans-serif;
	color:  rgb(10,14,38);
	font-weight: bold;
	text-align: center;
}

.container{
	display: flex;
	flex-direction: column;
	margin: 10px;

}
.item1, .item2{
	background-image: url(../images/ags.png);
	background-size: cover;
	background-color: rgb(236, 188, 233);
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
}
.item1{
	min-width: 300px;
}

.item1:hover{
	background-blend-mode: lighten;	
	color: black;
}
.item2:hover{
	background-blend-mode: lighten;	
	color: black;
}


.header img {
	max-width: 400px;
	max-height: 400px;
	position: fixed, center;

}


/* Vanaf mobiel */
@media  screen and (min-width : 320px){
 	body{		
 	}
 	.container{
 		display: flex;
		flex-direction: column;
		margin: 20px;
 	}	
}


/* Vanaf Tablets */
@media  screen and (min-width : 480px){
 	body{
 		background-color: rgb(10,14,38);
 	}
 	.container{
 		display: flex;
		flex-direction: column;
		margin: 20px;
 	}
}

/* Vanaf Medium Devices, Desktops/ tablet liggend */
@media screen and (min-width : 768px){
	body{		
 	}
	.container{
 		display: flex;
		flex-direction: row;
		margin: 20px;
	}
}

/* Vanaf Large Devices, Wide Screens */
@media screen and (min-width : 1024px){
 	body{
 			
 	} 
	.container{
 		display: flex;
		flex-direction: row;
		margin: 40px;
	}		
}	




.hidden {
	display: none;
}



